/* Mobile Portrait View */

@media screen and (max-width:767px) {
/*Mobile Menu CSS*/
.wp-block-navigation__responsive-container.is-menu-open.has-modal-open{ background-color:#5c422a !important; padding:25px;}
/*Custom CSS*/
.wp-block-group.header-Top .wp-block-group{ flex-wrap:wrap !important; gap:5px !important;  flex-direction: column !important; }
.wp-block-cover.hdrbanner-BX{ min-height:400px !important;}
.wp-block-group.bannerInfo h3{ font-size:28px !important;}
.wp-block-group.bannerInfo h5{ font-size:18px !important;}
.fse-right-menu:after, .order-btn{ display:none !important;}
body.page-template-front .ink-site-header{ position:relative !important; background-color:#836f63;}
.wp-block-column.FourColbx { border-right:none !important;}

ul.blog-list-style li{ padding:30px; margin-bottom:25px;}
ul.blog-list-style li .blog-thumbx{ width:100%; float:none; margin:0 0 20px 0;}
.church-infoBX{ position:relative; right:0; bottom:0;}
body.page-template-front .site-main-header{ position: relative !important; background-color:#5c422a !important;}

}


@media screen and (max-width:599px) {
.HeadMenu-02{ position:absolute; right:10px !important; top:auto !important}
.HeadMenu-02 .wp-block-navigation__responsive-container-open { color:#fff;}
.wp-block-cover.hdrbanner-BX{ min-height:300px !important;}

}

@media screen and (max-width: 980px){
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"], .wpcf7 textarea{ width:100%;}
}
