/*Cutomizer CSS*/
#accordion-section-beauty_hair_salon_pro h3.accordion-section-title,
#customize-controls #accordion-section-beauty_hair_salon_pro .accordion-section-title:focus, 
#customize-controls #accordion-section-beauty_hair_salon_pro .accordion-section-title:hover, 
#customize-controls #accordion-section-beauty_hair_salon_pro.open .accordion-section-title, 
#customize-controls #accordion-section-beauty_hair_salon_pro:hover>.accordion-section-title{
  background: #e782a0;
  color: #fff;
  border-left-color:#e782a0;
}
#customize-theme-controls #accordion-section-beauty_hair_salon_pro .accordion-section-title:after{
  color:#fff;
}
#customize-controls .control-section .accordion-section-title:hover,#customize-controls .control-section .accordion-section-title:focus{
  border-left-color:#e782a0;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.upsell-btn > .btn-success {
  color: #fff;
  background: #e782a0;
  text-decoration: none;
}
.upsell-btn{
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
}
.upsell-btn-bottom{
  margin-top:20px;
}
.upsell-btn > a.btn.btn-success.btn {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
}
/*Custom head*/
span.title.head-customize-control-title {
  padding: 10px;
  background-color: #EFF9FF;
  border: 1px solid #D6F0FF;
  border-radius: 0;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom:5px;
  text-transform: capitalize;
  color: #111213;
}
li.customize-control {
    border-bottom: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 0 !important;
}
li.customize-control-section {
    padding: 0 !important;
    border: none !important;
}
.head-customize-section-description.cus-head{
  margin-top: 22px; 
}
li.customize-section-description-container.section-meta {
    margin-bottom: 0;
}
.customize-control-title{
  color: #111213;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}
.customize-pane-parent .control-section .accordion-section-title:before{
  font-family: dashicons;
  content: "\f103";
  display: inline-block;
  font-size: 18px;
  margin-right: 5px;
  vertical-align: middle;
}
#accordion-section-beauty_hair_salon_pro .accordion-section-title:before{
  content: none;
}
#accordion-panel-beauty_salon_spa_custompage_panel .accordion-section-title:before {
  content: "\f102";
}
#accordion-section-colors .accordion-section-title:before {
  content: "\f309";
}
#accordion-section-beauty_salon_spa_typography_settings .accordion-section-title:before {
  content: "\f464";
}
#accordion-section-beauty_salon_spa_theme_settings .accordion-section-title:before {
  content: "\f111";
}
#accordion-section-beauty_salon_spa_mobile_options .accordion-section-title:before {
  content: "\f470";
}
#accordion-panel-beauty_salon_spa_post_panel .accordion-section-title:before {
  content: "\f109";
}
#accordion-section-static_front_page .accordion-section-title:before {
  content: "\f319";
}
#accordion-panel-widgets .accordion-section-title:before {
  content: "\f116";
}
#accordion-section-custom_css .accordion-section-title:before {
  content: "\f499";
}
#accordion-panel-nav_menus .accordion-section-title:before {
  content: "\f333";
}
#accordion-section-header_image .accordion-section-title:before {
  content: "\f13d";
}

#accordion-section-background_image .accordion-section-title:before {
  content: "\f128";
}

#accordion-section-title_tagline .accordion-section-title:before {
  content: "\f115";
}
.customize-control .wp-picker-container {
    position: static;
}
.customize-control .wp-picker-container .wp-color-result.button {
  position: absolute !important;
  right: 15px !important;
  top: 15px !important;
  border-radius: 100% !important;
  min-height: 0 !important;
  height: 28px !important;
  width: 28px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  border: 1px solid #CCC !important;
  background-color: transparent;
}
.customize-control-color{
    position: relative;
}
.customize-control .wp-picker-container .wp-color-result.button .wp-color-result-text {
    display: none;
}
.customize-control .wp-picker-container .wp-color-result.button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAAHnlligAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUeNpi+P///4EDBxiAGMgCCCAGFB5AADGCRBgYDh48CCRZIJS9vT2QBAggFBkmBiSAogxFBiCAoHogAKIKAlBUYTELAiAmEtABEECk20G6BOmuIl0CIMBQ/IEMkO0myiSSraaaBhZcbkUOs0HuBwDplz5uFJ3Z4gAAAABJRU5ErkJggg==);
}
.customize-control .wp-picker-container .wp-color-result.button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: inherit;
    border: 0;
}
.customize-control .wp-picker-container .wp-color-result.wp-picker-open + .wp-picker-input-wrap {
  display: flex;
  vertical-align: top;
  background: #FFF;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #dcdcde;
}
.customize-control .wp-picker-container .wp-picker-input-wrap label {
  flex-grow: 1;
}
.customize-control .wp-picker-container .wp-picker-input-wrap label input {
  width: 100% !important;
}